* {
  outline: red 1px solid;
}
.title-card {
  height: 100vh;
}

.header-side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}
 
 #left-side {
  background-color: orange;
  z-index: 2;
 }
 #right-side {
  background-color: brown;
 }

.fancy {
  color: red;
}
