.title-card {
  height: 100vh;
  width: 100%;
}

.header-side {
  height: 100%;
  width: 100%;
  display: grid;
  font-size: 4vh;
  place-items: center;
  text-align: center;
  color: white;
}

.fancy {
  color: red;
}
